.main-footer {
    bottom: 0;
    width: 100%;
}

button {
    margin-left: 5px;
}

.table-actions {
    width: 150px;
}

li>a>i {
    margin-right: 5px;
}

.wrapper {
    /*min-height: 100%;
    position: relative;
    overflow: hidden;*/
    width: 100%;
    min-height: 100%;
    height: auto !important;
    position: absolute;
}

/* .content-wrapper {
    min-height: 0px !important;
} */